.square {
    width: 20px;
    height: 20px;
    position: absolute;
}

body > div {
    position: relative;
    height: 200px;
}

#randomFilterButton {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 2px solid black;
    position:absolute;
    top:350px;

  }

  #resetButton {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 2px solid black;
    position:absolute;
    top:350px;
    left:178px;

  }