body {
  background-color: darkgreen;
}

#board {
  width: 800px;
  height: 800px;
  border: 1px solid white;
  background-color: black;
  position: relative;
  margin: auto;
}

#line {
  width: 1px;
  height: 800px;
  border: 1px dashed white;
  position: relative;
  margin: auto;
}

#leftScore {
  background-color: transparent;
  width: 80px;
  height: 80px;
  color: white;
  font-size: 300%;
  text-align: center;
  position: absolute;
  left: 0px;
  top: 20px;
}

#rightScore {
  background-color: transparent;
  width: 80px;
  height: 80px;
  color: white;
  font-size: 300%;
  text-align: center;
  position: absolute;
  left: 720px;
  top: 20px;
}

#winnerText {
  background-color: transparent;
  width: 200px;
  height: 80px;
  color: goldenrod;
  font-size: 300%;
  text-align: center;
  position:absolute;
  left: 300px;
  top: 310px;
}

#leftPaddle {
  /* appearance */
  background-color: red;
  width: 20px;
  height: 120px;
  border: 1px solid white;
  border-radius: 10px;

  /* positioning */
  position: absolute;
  top: 345px;
  left: 40px;
}

#rightPaddle {
  /* appearance */
  background-color: blue;
  width: 20px;
  height: 120px;
  border: 1px solid white;
  border-radius: 10px;

  /* positioning */
  position: absolute;
  top: 345px;
  left: 740px;
}

#ball {
  /* appearance */
  background-color: white;
  width: 20px;
  height: 20px;
  border-radius: 10px;

  /* positioning */
  position: absolute;
  top: 385px;
  left: 390px;
}

#chooseMode {
  background-color: transparent;
  width: 200px;
  height: 80px;
  color: goldenrod;
  font-size: 300%;
  text-align: center;
  position:absolute;
  left: 300px;
  top: 90px;
}

#onePlayer {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 2px solid white;
}

#twoPlayer {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 2px solid white;
}

#resetButton {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border: 2px solid white;
}